body {
  min-width: 1500px;
}

h1 {
  color: #9e5d3d;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h3 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Super Kitchen */

.top-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-text {
  text-align: center;
  margin-top: 30px;
}

#super-kitchen {
  text-align: center;
  color: #9e5d3d;
  font-size: x-large;
}

#kitchen-2 {
  text-align: center;
  color: #9e5d3d;
  font-size: 48px;
}

#top-lorem {
  text-align: center;
  color: gray;
  padding-bottom: 30px;
}

.select-kitchen {
  text-align: center;
  margin-top: 50px;
}

#select-kitchen-title {
  text-align: center;
  color: #826c63;
  font-size: x-large;
  padding-bottom: 20px;
}

#button-row {
  padding-left: 320px;
  padding-right: 320px;
}

.button-1 {
  background-color: #9e5d3d;
  color: white;
  border: #9e5d3d;
  height: 50px;
  width: 200px;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
}

.button-2 {
  color: #9e5d3d;
  background-color: white;
  border: 1px solid #9e5d3d;
  height: 50px;
  width: 200px;
  padding-left: 23px;
  padding-right: 30px;
  text-align: center;
}

#difference-text {
  padding-top: 30px;
  text-decoration: underline;
  font-size: 18px;
  color: #9e5d3d;
  text-align: center;
}

.select {
  text-align: center;
}

a {
  text-align: center;
}

/* Select Product */

.select-product {
  padding-top: 30px;
  background-color: #f5f6f0;
  height: 500px;
}

#select-product-title {
  padding-bottom: 50px;
  text-align: center;
  color: #826c63;
  font-size: x-large;
}

#white-box {
  background-color: white;
  padding: 40px;
  border: 3px solid #bed7d4;
  border-radius: 5px;
}

.box {
  padding: 40px;
}

.select-product-text {
  padding-top: 40px;
  text-align: center;
  color: #826c63;
}

#hardware-text {
  padding-top: 68px;
}

#understand-plan {
  padding-top: 10px;
  text-decoration: underline;
  font-size: 18px;
  color: #9e5d3d;
}

/* Blue Area With Buttons */

.border-buttons {
  padding-left: 400px;
  padding-right: 400px;
  padding-top: 20px;
  background-color: #bdd6d3;
  color: #9e5d3d;
  height: 100px;
}

.button-3 {
  color: #9e5d3d;
  background-color: white;
  border: 1px solid #9e5d3d;
  /* padding-left: 30px;
  padding-right: 30px; */
}

#supernice-button {
  font-weight: bold;
}

#blueish-button {
  font-weight: bold;
}

.selected-icon-button {
  height: 25px;
  padding-bottom: 2.5px;
}

#clear-all {
  background-color: #bdd6d3;
  border: none;
  text-decoration: underline;
  /* padding-right: 120px; */
}

/* Product Purchase */

.product-purchase {
  padding-top: 30px;
}

#big-door-image {
  height: 900px;
  margin-bottom: 20px;
}

#door-thumbnail {
  height: 100px;
  margin-bottom: 20px;
}

#tailor-made-door {
  background-color: lightgrey;
  border: none;
  color: black;
  height: 70px;
  width: 700px;
  text-align: center;
  margin-left: 80px;
}

#right-column {
  padding-right: 200px;
  padding-top: 50px;
}

.material-style-link {
  text-decoration: underline;
  color: #9e5d3d;
}

.xmas-text {
  color: red;
}

.description-text-price {
  text-align: left;
  color: black;
  font-size: 24px;
}

#description-text {
  color: gray;
}

.top-2-dropdowns {
  overflow: hidden;
}

#width-dropdown {
  float: left;
}

#height-dropdown {
  float: right;
}

.dropdown-arrow {
  height: 30px;
  border: 1px solid #9e5d3d;
}

.dropdown-toggle {
  width: 200px;
  text-align: left;
  border: 1px solid #9e5d3d;
}

.dropdown-toggle {
  background-color: white;
  color: black;
}

#blueish {
  height: 100px;
}

#add-cart-button {
  height: 50px;
  width: 350px;
  color: white;
  background-color: #9e5d3d;
  border: 1px solid #9e5d3d;
  margin-bottom: 20px;
  /* margin-left: 40px; */
}

/* #social-media {
  margin-left: 120px;
} */

/* .button-field {
  border: 1px solid #9e5d3d;
  width: 170px;
  text-align: left;
}

.button-icon {
  width: 30px;
} */

/* Production */

#production-bottom {
  margin-bottom: 100px;
  width: 1150px;
}

.production-pic {
  height: 150px;
  margin-bottom: 100px;
}

#production-text {
  text-align: left;
  color: grey;
}
